body {
    font-family: sans-serif;
    color: whitesmoke;
    background-color: dimgrey;
}

figure {
    margin: 1em;
    position: relative;
}

figcaption {
    background: #c2af56;
    bottom: 0;
    box-sizing: border-box;
    position: absolute;
    width: auto;
    padding: 1em;
    text-align: center;
    color: dimgray;
    font-family: 'incognito-pro';
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    font-size: 150%;
}

figcaption:hover {
    color: #c2af56;
    background: white;
    width: inherit;
}

main {
    display: grid;
     grid-template-columns: 1fr;
    justify-items: center;
    padding 0;
    }

@media (min-width: 30em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
}

.gif {
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    display: block;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}